body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

#temple-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.temple-card {
  width: 100%;
  max-width: 300px;
  margin: 15px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.temple-card img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .temple-card {
    width: 45%;
  }
}

@media (min-width: 1024px) {
  .temple-card {
    width: 30%;
  }
}